<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer class="footer navbar-fixed-bottom">
  <div class="footer-bottom">
    <div class="container">
      <div class="pull-left"> 
        <ul class="nav nav-pills payments">
          <li><i class="fa fa-cc-visa"></i></li>
          <li><i class="fa fa-cc-mastercard"></i></li>
          <li><i class="fa fa-cc-amex"></i></li>
          <li><i class="fa fa-cc-paypal"></i></li>
        </ul> 
        <span>Copyright ©Mengbi-Faces Team 2018. All right reserved.</span>
      </div>
      <ul class="social pull-right">
          <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
          <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
          <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
          <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
          <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
      </ul>
    </div>
  </div>
</footer>