<form>
  <div class="row">
    <div class="col-sm-12 form-group">
      <label>Keyword</label>
      <input
        type="search"
        placeholder="What do you want?"
        id="keyword"
        class="form-control"
        name="keyword"
        [(ngModel)]="keyword"
        (ngModelChange)="onChange()"
      >
    </div>
  </div>
</form>
<form>
  <div class="row">
    <div class="col-sm-12 form-group">
      <div
        class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Sort By <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="onSort('name')" style="cursor: pointer;">Name</a></li>
          <li><a (click)="onSort('calorie')" style="cursor: pointer;">Calorie</a></li>
          <li><a (click)="onSort('user')" style="cursor: pointer;">User</a></li>
        </ul>
      </div>
    </div>
  </div>
</form>
