.div{
  margin-bottom: 5%;
}

.row-1{
  margin: auto;
}

.kuang{
  overflow: auto;
  border: 3px dotted #f1f1f1;
  width: 420px;
  height: 150px;
  top: 20%;
  position: relative;
  background-color: white;
  opacity: 0.5;
  border-radius: 10px;

}

.ingreclass{
  width: 350px;
}
