.routerlink{
  color: #2c3e50;
  font-family: -apple-system;
  float: right;
  padding-top: 20px;
}

.welcomebar{
  font-family: Futura;
  font-size: xx-large;
}

.backtest-4{
  height: 800px;
  width: 100%;
}
